---
name: class12 ms build and deploy

on:
  # push:
  #   branches: [ main ]
  #   paths:
  #     - 'class11-12/app**'
  workflow_dispatch:

env:
  AWS_REGION: ap-south-1
  ECR_REGISTRY: 879381241087.dkr.ecr.ap-south-1.amazonaws.com
  environment_branch: prod

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    strategy:
      fail-fast: false
      matrix:
        service:
          - name: frontend
            ecr_repo: prod-craftica-frontend
          - name: catalogue
            ecr_repo: prod-craftica-catalogue
          - name: voting
            ecr_repo: prod-craftica-voting
          - name: recommendation
            ecr_repo: prod-craftica-recco

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::879381241087:role/eks-github-actions-build-role
          role-session-name: GitHub_to_AWS_OIDC_MS
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push ${{ matrix.service.name }}
        uses: docker/build-push-action@v5
        with:
          context: ./class11-12/app/${{ matrix.service.name }}
          file: ./class11-12/app/${{ matrix.service.name }}/Dockerfile
          push: true
          tags: |
            ${{ env.ECR_REGISTRY }}/${{ matrix.service.ecr_repo }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max


  argo-deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      id-token: read
      contents: write

    env:
      menifest_path: class11-12/k8s-menifests

    strategy:
      fail-fast: false
      matrix:
        service:
          - name: frontend
            menifest: 02-frontend-deployment.yaml
            ecr_repo: prod-craftica-frontend
          - name: catalogue
            menifest: 03-catalogue-deployment.yaml
            ecr_repo: prod-craftica-catalogue
          - name: voting
            menifest: 04-voting-deployment.yaml
            ecr_repo: prod-craftica-voting
          - name: recommendation
            menifest: 05-recommendation-deployment.yaml
            ecr_repo: prod-craftica-recco

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # repository: akhileshmishrabiz/k8s-bootcamp-dec25
          ref: prod


      - name: Update Kubernetes deployment manifest
        run: |

          # Update the image in the deployment file
          sed -i "s|image:.*${{ matrix.service.name }}.*|image: ${{ env.ECR_REGISTRY }}/${{ matrix.service.ecr_repo }}:${{ github.sha }}|g" \
            ./${{ env.menifest_path }}/${{ matrix.service.menifest }}

          echo "Updated ${{ matrix.service.menifest }} with new image tag -> ${{ github.sha }}"
          echo "Image: ${{ env.ECR_REGISTRY }}/${{ matrix.service.ecr_repo }}:${{ github.sha }}"

      - name: Commit and push updated manifests
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add ${{ env.menifest_path }}/*.yaml
          git diff --staged --quiet || git commit -m "Update ${{ matrix.service.name }} image to ${{ github.sha }} tag"
          git pull --rebase origin ${{ env.environment_branch }}
          git push origin ${{ env.environment_branch }}

      - name: Summary
        run: |
          echo " Built and pushed ${{ matrix.service.name }}" >> $GITHUB_STEP_SUMMARY
          echo "Image: ${{ env.ECR_REGISTRY }}/${{ matrix.service.ecr_repo }}:${{ github.sha }}" >> $GITHUB_STEP_SUMMARY
          echo "Updated deployment manifest with new image" >> $GITHUB_STEP_SUMMARY
