name: calss4 Build and Push to ECR

on:
  # pull_request:
  #   branches:
  #     - main

  workflow_dispatch:
env:
  AWS_REGION: ap-south-1
  IMAGE_TAG: ${{ github.sha }}
  PATH_TO_BUILD: ./class4/src

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build an image from Dockerfile
        run: |
          cd ${{ env.PATH_TO_BUILD }}
          docker build -t docker.io/my-organization/my-app:${{ github.sha }} .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'docker.io/my-organization/my-app:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          # severity: 'CRITICAL,HIGH'
          severity: 'CRITICAL'