# manual deplopy -> multi-env deployment workflow for EKS
name: EKS Infra Deploy


on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        type: choice
        options:
          - dev
          - prod
      infra_path:
        description: 'EKS Cluster Name'
        required: false
        default: 'eks-proper-infra/infra'
      apply_or_delete:
        description: 'Apply or Delete'
        required: false
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy
env:
  TF_VERSION: 1.8.1
  AWS_REGION: ap-south-1
  environment: ${{ github.event.inputs.environment }}
  infra_path: ${{ github.event.inputs.infra_path }}

jobs:
  infra-deploy:
    name: EKS Infra Deploy
    runs-on: ubuntu-latest      

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::879381241087:role/eks-github-actions-build-role
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.infra_path }}
        run: terraform init -backend-config=vars/${{ env.environment }}.tfbackend

      # - name: Terraform Apply
      #   working-directory: ${{ env.infra_path }}
      #   run: terraform ${{ env.apply_or_delete }} -var-file=vars/${{ env.environment }}.tfvars

      - name: Terraform Apply
        if: ${{ github.event.inputs.apply_or_delete == 'apply' }}
        working-directory: ${{ env.infra_path }}
        run: terraform apply -auto-approve -var-file=vars/${{ env.environment }}.tfvars

      - name: Terraform Destroy
        if: ${{ github.event.inputs.apply_or_delete == 'destroy' }}
        working-directory: ${{ env.infra_path }}
        run: terraform destroy -auto-approve -var-file=vars/${{ env.environment }}.tfvars